* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    /*font-family: Monospaced, Menlo, Monaco, Consolas, "Courier New", monospace;*/
}

#page-content {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

h1 {
    font-size: 2rem;
    padding: 1em;
    color: whitesmoke;
    background-color: #2D89CC;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    padding: .5rem 0;
}

h4 {
    color: #32A399;
    padding: .5rem 1rem;
}

p {
    line-height: 1.5;
    padding: 1rem;
}

.left {
    background-color: #32A399;
}

.right {
    padding: 1em;
    background-color: #EFF7FE;
}

.list {
    padding: 1rem 3rem
}

.list li {
    padding: .5rem;
}

.list > ul > li > ul {
    margin-left: 2rem;
}

nav > ul > li {
    padding: .4em 1em;
}

nav > ul > li:hover, .active {
    background-color: #19514c;
}

nav > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
}

.floating-right {
    float: right;
}

.center {
    text-align: center;
}

.picture-frame {
    padding: .5rem 4rem;
}