<h2>Handleiding</h2><hr/>
<h3>Bronnen</h3>
<div class="list">
    <ul>
        <li>
            Website profielbepaling:
            <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>
        </li>
        <li>
            Aanvraag profielbepalingstest ICT:
            <a href="https://docs.google.com/spreadsheets/d/1Q6uHWvY_MSQCZo3NoGQV9IldEbvxubwahP_FS-xC9do" target="_blank">
                Sheet
            </a>
        </li>
    </ul>
</div>
<h3>Voorbereiding</h3>
<h4>Aantal kandidaten</h4>
<p>
    Je vindt het aantal kandidaten in
    <a href="https://docs.google.com/spreadsheets/d/1Q6uHWvY_MSQCZo3NoGQV9IldEbvxubwahP_FS-xC9do/edit?gid=585874240#gid=585874240" target="_blank">Aanvraag profielbepalingstest ICT</a>
    tabblad “Kalender” in kolom H.
</p>
<div class="picture-frame">
    <img src="img/kalender.png" alt="kalender"/>
</div>
<h4>Fiches voor de kandidaten printen</h4>
<p>
    De fiche bevat de aanmeldgegevens voor de kandidaten.
</p>
<p>
    Surf naar de website
    <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>.
    Meld je aan met je account van deze website en open dan <strong>Testen >> Testen en resultaten</strong>
</p>
<div class="picture-frame">
    <img src="img/tenobe-testen.png" alt="Tenobe Testen"/>
</div>
<div class="list">
    <ul>
        <li>
            Vul de testdatum in.
        </li>
        <li>
            Kies Profielbepaling ICT 2021 voor de Nederlandstalige test. Soms vragen de bemiddelaars de Engelstalige
            test aan. Dan kies je Engelstalige profielbepaling ICT 2021.
        </li>
        <li>
            Klik op knop <strong>Zoek</strong>.
        </li>
    </ul>
</div>
<div class="picture-frame">
    <img src="img/tenobe-testen-lijst.png" alt="tenobe-testen-lijst"/>
</div>
<p>
    Klik op het "pdf" icoon in de header van de tabel om alle fiches in één keer te downloaden.
    Print de fiches recto-verso.
</p>
<div class="list">
    <ul>
        <li>
            De fiche is in de taal van de test.
        </li>
        <li>
            Profielbepaling ICT 2021: nederlands
        </li>
        <li>
            Engelstalige profielbepaling ICT 2021: engels
        </li>
    </ul>
</div>
<h4>Laptops klaarzetten</h4>
<div class="list">
    <ul>
        <li>Je vindt de laptops in het instructeurslokaal van Chris en Jo.</li>
        <li>Sluit ook een muis aan de laptop.</li>
        <li>
            Je start de laptop en meldt aan met gebruikersnaam Cursist en het gekende
            <a href="https://docs.google.com/document/d/1DdtTmOVyLIOrWY3Ix749LmsAhhg_E8hp3yH1hL0kViw/edit?usp=drive_link" target="_blank">paswoord</a>.
        </li>
        <li>
            Je start Chromium en surft naar de website
            <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>.
        </li>
        <li>Druk op F11 om het scherm te maximaliseren.</li>
        <li>Je legt een leeg blad naast elke laptop.</li>
    </ul>
</div>
<h3>Start van de test</h3>
<p>
    Kandidaten afhalen aan het onthaal. Voormiddag om 9:20 of namiddag om 13:20. Je geeft elke klant zijn fiche.
</p>
<p>Je legt de spelregels uit:</p>
<div class="list">
    <ul>
        <li>De test bevat 125 vragen en duurt maximaal 2 uur.</li>
        <li>De test kan niet onderbroken worden.</li>
        <li>Je mag enkel papier en pen gebruiken voor de berekeningen.</li>
        <li>GSM, rekenmachine en hulp van je buur is verboden.</li>
        <li>Je mag pas vertrekken nadat je de resultaten gezien hebt.</li>
    </ul>
</div>
<h3>Bespreking van de resultaten</h3>
<p>
    Surf naar de website
    <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>.
    Je meldt je aan met je account van de website.
</p>
<p>
    Open <strong>Testen >> Testen en resultaten</strong>
</p>
<div class="picture-frame">
    <img src="img/tenobe-testen-resultaten.png" alt="tenobe-testen-resultaten"/>
</div>
<div class="list">
    <ul>
        <li>Vul de testdatum in.</li>
        <li>
            Kies Profielbepaling ICT 2021 voor de Nederlandstalige test. Soms vragen de bemiddelaars de Engelstalige
            test aan. Dan kies je Engelstalige profielbepaling ICT 2021.
        </li>
        <li>Klik op knop <strong>Zoek</strong>.</li>
    </ul>
</div>
<div class="picture-frame">
    <img src="img/tenobe-testen-resultaten-lijst.png" alt="tenobe-testen-resultaten-lijst"/>
</div>
<p>Klik op het icoontje met de "R" van Resultaat</p>
<div class="picture-frame">
    <img src="img/tenobe-testresultaat.png" alt="tenobe-testresultaat"/>
</div>
<div class="list">
    <ul>
        <li>Full stack developer en data analist (norm 70%): kolom Ontwikkelaar</li>
        <li>Systeem- en netwerkbeheerder (norm 70%): kolom ICT Infrastructuurbeheerder</li>
        <li>ICT support medewerker: kolom ICT supportmedewerker</li>
    </ul>
</div>
<p>Verwachte minimumresultaten:</p>
<div class="picture-frame">
    <img src="img/minimum-relutaten.png" alt="minimum-relutaten"/>
</div>
<h3>Resultaat registreren</h3>
<p>
    In <a href="" target="_blank">Aanvraag profielbepalingstest ICT</a> registreer je in de kolom
    <strong>Resultaat</strong> het resultaat van de test.
</p>
<h3>Test wordt onderbroken</h3>
<div class="list">
    <ul>
        <li>Sluit de browser op de laptop van de cursist.</li>
        <li>
            Surf naar de website
            <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>
            en meldt je aan met je account van de website.
        </li>
        <li>
            Open <strong>Testen >> Testen en resultaten</strong>.
            <ul>
                <li>Vul de testdatum in.</li>
                <li>
                    Kies <strong>Profielbepaling ICT 2021</strong> voor de Nederlandstalige test. Soms vragen de
                    bemiddelaars de Engelstalige test aan. Dan kies je
                    <strong>Engelstalige profielbepaling ICT 2021</strong>.
                </li>
                <li>Klik op knop <strong>Zoek</strong>.</li>
            </ul>
        </li>
    </ul>
</div>
<div class="picture-frame">
    <img src="img/test-restart.png" alt="test-restart"/>
</div>
<p>
    Klik op de groene "play" knop om de test te herstarten
</p>
<p>
    De cursist kan terug aanmelden en de test verderzetten. De vragen staan wel in een andere volgorde.
    De beantwoorde vragen hebben een blauwe achtergrondkleur.
</p>
<h3>Cursist is klaar maar de test staat nog open</h3>
<div class="list">
    <ul>
        <li>
            Surf naar de website
            <a href="https://www.tenobe.org/screening" target="_blank">https://www.tenobe.org/screening</a>
            en meldt je aan met je account van de website.
        </li>
        <li>
            Open <strong>Testen >> Testen en resultaten</strong>.
            <ul>
                <li>Vul de testdatum in.</li>
                <li>
                    Kies <strong>Profielbepaling ICT 2021</strong> voor de Nederlandstalige test. Soms vragen de
                    bemiddelaars de Engelstalige test aan. Dan kies je
                    <strong>Engelstalige profielbepaling ICT 2021</strong>.
                </li>
                <li>Klik op knop <strong>Zoek</strong>.</li>
            </ul>
        </li>
    </ul>
</div>
<div class="picture-frame">
    <img src="img/test-end.png" alt="test-end"/>
</div>
<p>Klik op het stopteken om de test te beëindigen. Daarna kan je de resultaten bespreken</p>
